language: java
sudo: false
install: true

jdk:
  - openjdk11

cache:
  directories:
    - $HOME/.m2
    - $HOME/.sonar/cache
    - $HOME/.gradle

script:
  - ./gradlew clean build sonarqube -Dsonar.organization=$SONAR_ORGANIZATION -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_LOGIN

after_success:
  - if [[ "$TRAVIS_EVENT_TYPE" != "cron" ]]; then ./gradlew gitPublishPush artifactoryPublish bintrayUpload; fi
